<!--
 * INFO310
 * createacc.html
 * initial/basic setup for login page, not yet connected to database
 * template Julia McDowell, created by Carly Ryan
--> 
<!DOCTYPE html>
<html ng-app="ConnectionApp">
    <head>
        <title>Create Account</title>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/mainjs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-controller="StaffController as staffCtrl">
        <div id="createaccount">
            <h1>Create Account</h1>
            <form ng-submit="staffCtrl.registerStaff(staff)" required>
                <label for="firstname"><b>First Name:</b></label>
                <input type="text" ng-model="staff.firstname" required/><br>

                <label for="surname"><b>Last Name:</b></label>
                <input type="text" ng-model="staff.surname" required/><br>

                <label for="un"><b>Username:</b></label>
                <input type="text" ng-model="staff.username" required/><br>

                <label for="email"><b>Email:</b></label>
                <input type="email" ng-model="staff.email" required/><br>
                
                <label for="un"><b>Field of study:</b></label>
                <input type="text" ng-model="staff.category" required/><br>
                
                <label for="pw"><b>Searching:</b></label>
                <input type="checkbox" ng-model="staff.searching" required><br>

                <label for="pw"><b>Password:</b></label>
                <input type="password" ng-model="staff.password" required/><br>

                <label for="pw"><b>Re-enter Password:</b></label>
                <input type="password" name="pw2" required/><br><br>

                <!--check that passwords match -->

                <button type = "submit">Submit</button>
            </form>
            <b>Already have an account? </b>
            <a href="loginpage.html" class="button"> <input type="button" value="Login"> </a>
        </div>
    </body>
</html>