<!--
 * INFO310
 * studentlookup.html
 * initial/basic setup for main page
 * cards will iterate through the database to create
 * The searching and filter mechanism not yet set up
 * @author Carly Ryan
--> 
 
<html ng-app="ConnectionApp">
    <head>
        <title>Student Lookup</title>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/mainjs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/StyleSheet.css">
    </head>
 
   <body ng-controller = "allStudentController as allstudentCtrl">
       <header>
            <nav>
                    <ul>
                        <li> <a href="studentlookup.html">Home</a></li>
                        <li> <a href="studenteditprofile.html">Profile</a></li>
                        <li> <a href="welcomepage.html">Logout</a></li> 
                        <!-- SIGN OUT PAGE OR IMPLEMENT LOGOUT ON BUTTON PRESS?-->
                    </ul> 
            </nav>  
            <div class="mainheader">
                <h1>Connect with Students</h1>
            </div>
        </header>
       
        <form ng-submit="allstudentCtrl.selectSurname(surname)">
            <label for="name"><b>Search for a student</b></label>
            <input type="text" placeholder="Enter a student's surname" ng-model="surname"/>
            <button type = "submit">Search</button>
        </form>
       
        <label for="category"><b>Field of study:</b></label>
        <select id="cat" name="cat" ng-model = "selectedCategory" ng-change="allstudentCtrl.selectCategory(selectedCategory)">
            <option value = "" disabled selected>Select a field</option>
            <option value = "All" ng-selected="selectedCategory === 'All'" selected>All Fields</option>
            <option ng-repeat="cat in allstudentCtrl.categories" ng-selected="selectedCategory == cat" value = "{{cat}}">{{cat}}</option>
        </select><br><br>
        <div class = "card" ng-repeat="student in allstudentCtrl.student">
          <div class="container">
            <h4><b> {{student.firstname}} {{student.surname}} </b></h4>
            <p> Username: {{student.username}}</p>
            <p> Field: {{student.category}}</p>
            <p> Email Address: {{student.email}}</p>
            <button ng-click="allstudentCtrl.SelectStudent(student)"> View Information </button>
          </div>
        </div>
    </body>
</html>
