/** style.css
** external styling css file
** @author Julia McDowell
**/

body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        border-top: 5px solid #f9c000;
}
