<!--
 * INFO310
 * viewselectedstaff.html
 * initial/basic setup for description of professor or student page
 * @author Carly Ryan
--> 
 
<html ng-app="ConnectionApp">
    <head>
        <title>View Selected Staff</title>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/mainjs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/StyleSheet.css">
    </head>
 
    <body ng-controller = "allStaffController as allstaffCtrl">
        <header>
            <nav>
                    <ul>
                        <li> <a href="stafflookup.html">Home</a></li>
                        <li> <a href="editprofile.html">Profile</a></li>
                        <li> <a href="welcomepage.html">Logout</a></li> 
                        <!-- SIGN OUT PAGE OR IMPLEMENT LOGOUT ON BUTTON PRESS?-->
                    </ul> 
            </nav>  
            <div class="mainheader">
                <h1>Description</h1>
            </div>
        </header>
        <h4><b> {{allstaffCtrl.selectedStaff.firstname}} {{allstaffCtrl.selectedStaff.surname}} </b></h4>
        <p> Username: {{allstaffCtrl.selectedStaff.username}}</p>
        <p> Field: {{allstaffCtrl.selectedStaff.category}}</p>
        <p> Email Address: {{allstaffCtrl.selectedStaff.email}}</p>
        <br><br>
        <form ng-controller = "StudentController as studentCtrl" ng-submit="studentCtrl.saveRequest(cr)" required>
            <input type="hidden" ng-model="cr.studentID" ng-init="cr.studentID=studentCtrl.studentloggedin.studentID">
            <input type="hidden" ng-model="cr.staffID" ng-init="cr.staffID =allstaffCtrl.selectedStaff.staffID">
            <input type="hidden" ng-model="cr.studentFirstname" ng-init="cr.studentFirstname=studentCtrl.studentloggedin.firstname">
            <input type="hidden" ng-model="cr.studentLastname" ng-init="cr.studentLastname=studentCtrl.studentloggedin.surname">
            <input type="hidden" ng-model="cr.staffFirstname" ng-init="cr.staffFirstname =allstaffCtrl.selectedStaff.firstname">
            <input type="hidden" ng-model="cr.staffLastname" ng-init="cr.staffLastname =allstaffCtrl.selectedStaff.surname">
            <label for="message"><b>Contact Request Message:</b></label><br>
            <textarea type = "text" ng-model="cr.message" rows="4" cols="50"> Type Message Here </textarea><br>
            <input type="hidden" ng-model="cr.studentToStaff" ng-init="cr.studentToStaff = true">
            <button type = "submit">Send Contact Request</button>
        </form>
    </body>
</html>